ss

 
  
.login-bg {
  top: 0;
  left: 0;
 height: 100%;
 width: 100%;
 background-image: url('background.jpg');
 background-repeat: no-repeat;
 background-size: cover;
  filter: brightness(70%);
  display: none;
}

.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 7cm;
  gap: 20px;
 bottom: 29rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
 
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  
  justify-content: center;
}

.login-form {
    position: relative;
  background-color: white;
  padding-left: 55rem;
  top:250px
 
}



.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}